<!DOCTYPE html>
<html lang="pt_br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="./styles/julyanBody.css">
  <link rel="stylesheet" href="./styles/julyan.css">
  <link rel="stylesheet" href="./styles/cadastrarProcedimento.css">

  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap" rel="stylesheet">

  <link rel="shortcut icon" href="img/Logo.png" type="image/x-icon">
  <title>Julyan</title>
</head>
<body>
  <div id="sidebar">
   <a href="/"> <img src="./img/Logo@2x.png" alt="logo"></a>
    <br><br><br>
    <a href="./julyanSolicitacoes">Visualizar <br> Solicitações</a><br><br>
    <a href="./julyanCadastros"> Cadastrar <br> Procedimento</a>
  </div> 

  <div id="main">
    <h1 id="cadastrar">CADASTRAR PROCEDIMENTO</h1>
    <form action="" method="POST" id="creatAccount">
    <input nome="procedimento" type="text" placeholder="Nome do procedimento" class="input" required> <br> <br> <br>
    <input nome="funcionalidades" type="text" placeholder="Funcionalidades" class="input" required> <br> <br> <br>
    <input nome="vantagens" type="text" placeholder="Vantagens" class="input" required> <br> <br> <br>
    <input nome="riscos" type="text" placeholder="Riscos" class="input" required> <br> <br> <br>
    <input nome="preco" type="text" placeholder="Preço em $" class="input" required> <br> <br> <br>
    <input type="submit" value="Cadastrar" class="submit">
  </form>
  </div>
</body>
</html>