<!DOCTYPE html>
<html lang="pt_br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="./styles/backgroundSingInSingUp.css">
  <link rel="stylesheet" href="./styles/singUp.css">

  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap" rel="stylesheet">

  <link rel="shortcut icon" href="img/Logo.png" type="image/x-icon">
  <title>Julyan Sing Up</title>
</head>
<body>
  <form action="" method="POST" id="creatAccount">
    <input nome="conta" type="text" placeholder="Conta" class="input" required> <br> <br> <br>
    <input nome="senha" type="password" placeholder="Senha" class="input" required> <br> <br> <br>
    <input nome="numero" type="text" placeholder="Número" class="input" required> <br> <br> <br>
    <input nome="email" type="email" placeholder="e-mail" class="input" required> <br> <br> <br>
    <input type="submit" value="Criar Conta" class="submit">
  </form> 
</body>
</html>