<!DOCTYPE html>
<html lang="pt_br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="/styles/backgroundSingInSingUp.css">
  <link rel="stylesheet" href="/styles/singIn.css">

  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap" rel="stylesheet">

  <link rel="shortcut icon" href="img/Logo.png" type="image/x-icon">
  <title>Julyan Sing In</title>
</head>
<body>
  <form action="login" method="POST" id="login">
    <input type="email" name="email" placeholder="e-mail" class="input" required> <br> <br> <br>
    <input type="password" name="senha" placeholder="Senha" class="input" required> <br> <br> <br>
    <input type="submit" value="Entrar" class="submit">
    <a href="./singUp">Criar Conta</a>
  </form>
</body>
</html>