body{
  margin: 0;
  background: no-repeat;
  
  color: #00FF00;
  font-family: 'JetBrains Mono', monospace;
  
  background-image: url("../img/LogoBackground.png"); 
  background-color: #1c1c1c;
  background-position: 50% -3%;
}