#header{
  position: relative;
  height: 90px;
  background-color: rgba( 0, 0, 0, 0.5);
  text-align: right;
}

#header #logo{
  position: absolute;
  display: block;
  margin-right: auto;
  
  bottom: 7%;
  left: 0.5%;
}

#header .user{
  position: relative;
  top: 30px;
  right: 4%;
}

#header p{
  position: relative;
  bottom: 5%;
  right: 4%;;
}