#sidebar{
  height: 100%;
  width: 130px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  overflow-x: hidden;
  padding-top: 20px;
  padding-left: 10px;
}

#main{
  text-align: center;
  height: 100%;
  position: fixed;
}

#main #soli{
  margin-left: 175%;
}

#main #cadastrar{
  margin-left: 125%;
}

#main .solicitacoes{
  height: 20px;
  width: 300px;
  border: solid;
  overflow: hidden;
  transition: 0.7ms;
  margin-bottom: 35px;
  margin-left: 164%;
}

#main .solicitacoes:hover{
  height: auto;
}

button{
  margin-top: 5px;
  border-radius: 10px;
  font-family: 'JetBrains Mono', monospace;
}

.descartar{
  border: 1px solid #FF0000;
  background-color: rgba(255, 255, 255, 0);
  color: #FF0000;
}

.descartar:hover{
  background-color: #FF0000;
  color: #FFFFFF;
}

.completo{
  border: 1px solid #00FF00;
  background-color: rgba(255, 255, 255, 0);
  color: #00FF00;

  position: relative;
  bottom: 9px;
  padding: 10px;
}

.completo:hover{
  background-color: #00FF00;
  color: #000000;
}
