form{
  text-align: center;
  margin-top: 15%;

  position: fixed;
  height: 100%;

  margin-left: 42%;
}

.input{
  height: 30px;
  border: none;
  border-radius: 6px;
  
  background: rgba(255, 255, 255, 0.75);

  color: #6B9668;
  font-family: 'JetBrains Mono', monospace;

}

.submit{
  height: 35px;
  width: 95px;

  border-radius: 9px;
  border: none;

  background-color: #313B32;

  color: #b8ffb3;
  font-family: 'JetBrains Mono', monospace;
}

.submit:hover{
  border: 1px solid #00FF00;
  color: #00FF00;
}

a {
  padding: 7px;
  border-radius: 9px;

  text-decoration: none;
  color: #b8ffb3;

  background-color: #313B32;

  transition: 0.5ms;
}

a:hover{
  border: 1px solid #0077ff;
  color: #0077FF;
}